{% extends 'layout.html' %}

{% block body %}
<div id="body-container">
    <div id="sub-container">
            <h1>Get <span>started</span> with us</h1>
            <h3>Join and enjoy the most reliable and comfortable ride</h3>
            <div id="option-container">
                <button><a href="#">Sign up as Driver</a></button>
                <button><a href="UserSignUp.html">Sign up as User</a></button>
                <p id="index-para">Already have an account <a href="userlogin.html">login</a></p>  
            </div>
</div>


{% endblock %}

