<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="body.css">
    <title>Ridepals</title>
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/body.css">
    <link rel="stylesheet" href="/static/footer.css">
</head>
<body>
    {% include 'includes/_navbar.html' %}
    {% block body %} {% endblock %}
    {% include 'includes/_footer.html' %}
</body>
</html>
